.product-list-wrapper{
    width: 80%;
    margin : 0 auto;
}

.title-product-list{
    margin : 1rem 0 2rem 0;
    font-size: 20px;
}

.search-bar-wrapper{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem auto;
}
.checkbox-wrapper{
    margin: 1rem auto;
}

.text-search-bar{
    display: block;
    width: 50%;
    margin : 0 auto;
    height: 2rem;
    text-align: center;
}

.table-product{
    width: 80%;
    margin: 0 auto;
}

.table-product td , .table-product tr{
    padding: 1rem;
}

.product-row{
    text-align: center;
}

.table-product thead {
    height: 2rem;
}

.product-category{
    text-align: left;
    padding: 1rem 3rem;
    text-decoration: underline;
}

.product-out-stock{
    color :rgba(197, 30, 30, 0.945);
}




